*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.all{
     position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.all img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* z-index: 1; */
}
.mmm{
     position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
   align-items: center;
   /* justify-content: center;  */
  height: 100%;
  padding: 2rem;
  color: white;
 /* text-align: center; */
}

/* .tim{
 display: flex;
 /* text-align: center; */
 /* gap: 15px;
} */
/* .lim{
margin-right:10px;
margin-left: 9px;
} */ 
.banana{
    font-size: 35px;
    color: aliceblue;
 text-align: center;
}
.direct{
      align-items: center;
}
.jia{
     font-size: 15px;
      color: aliceblue;
      font-weight: 400;
}
/* .old{

} */
.bunny{
    width: 310px;
    height: 80px;
    border-radius: 10px;
   border: 2px Dashed rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px); /* for Safari */
}
.batman{
    font-size: 9px;
    color: hsl(245, 19%, 35%);
}
.plank{
     display: flex;
  flex-direction: column;
  align-items: flex-start; /* aligns label + input to the left */
  /* margin-bottom: 1.2rem; */
}
.plank label{
    color: white;
    font-family: Inconsolata;
    text-align: start;
    margin: 2px;
    color: hsl(245, 15%, 58%);
}
.plank input{
     width: 310px;
    height: 30px;
    border-radius: 5px;
     border: 2px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px); /* for Safari */
}
.plank :placeholder-shown{
    font-size: 10px;
}
.polli{
    margin: 2px;
}
.bunny :placeholder-shown{
    
}
button{
      width: 310px;
    height: 30px;
    background-color: hsl(7, 88%, 67%);
    color:  hsl(248, 70%, 10%);
    border-radius: 5px;
    border: none;
}